.vscode
procps
pulse
session
vscode-sqltools
VSCodium
yay
background
baloofileinformationrc
dolphinrc
kconf_updaterc
QtProject.conf
trashrc
go
gtk-3.0
htop
Meltytech
obs-studio
obsidian
flutter
dconf
kioslaverc
nekobox
discord
Kitware
Min
spotify
pavucontrol-qt