* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 11px;
  color:#242424;
  font-weight: bold;

}

window#waybar {
  background: transparent;
  padding-bottom: 0;
}

#workspaces button {
  font-size: 14px;
  padding: 0 2px 0 2px;
  color:#4a4a4a;
  margin-right: 3px;
  border-radius: 35px;
  background-color: #87A9B2;
}

#workspaces button.active {
  border-radius: 5px;
  background-color: rgb(56, 125, 140);
  transition: all 0.3s ease-in-out;
}

#workspaces button.urgent {
  color:#4a4a4a;
  background-color: rgb(56, 125, 140);
  box-shadow: inset 0 -4px 0 #aa3e3e;

}

#battery.critical:not(.charging) {
  color: #f38ba8;
}

#language {
  background-color: #87A9B2;
  border-radius: 15px;
  padding: 0px 7px;
  min-width: 30px;
  margin-left: 8px;
}
#custom-bluetooth{
    background-color: #87A9B2;
    font-size: 15px;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
    min-width: 30px;
}
#pulseaudio,
#network,
#cpu,
#tray,
#memory,
#temperature,
#backlight,
#battery {
  background-color: #87A9B2;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 6px;
  min-width: 30px;
}


/* #tray {
  margin-left: 10px;
  color: white;
} */

#clock {
  background-color: #87A9B2;
  border-radius: 15px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 15px;
  min-width: 30px;
  font-size: 14px;
}

tooltip {
  border: 1 solid rgb(56, 125, 140);
  border-radius: 5px;
}
tooltip label {
  color: #dcdcdc;
}